body {
  background-color: #4d8ac7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  color: aliceblue;
  text-align: center;
  text-decoration: underline;
}

.container {
  width: 280px;
  margin: 0 auto;
  padding: 10px 10px 20px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  width: 95%;
  border: none;
  margin: 10px 30px 10px 30px;
  border-radius: 5px;
  padding: 8px 5px 8px 5px;
  background-color: #cce5ff;
}

p {
  width: 100%;
  margin: 0px;
}

#input {
  font-size: 16px;
  text-align: left;
  color: #4c89c6;
}

#output {
  font-size: 26px;
  font-weight: bold;
  text-align: right;
  color: #183b5f;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

button {
  font-size: 18px;
  background-color: #cce5ff;
  font-weight: 700;
  color: #163b5f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}

.dark {
  background-color: #a2d0fa;
  color: #4d8ac7;
  font-weight: 600;
}

.last-button {
  grid-column: span 2;
  background-color: #4d8ac7;
  color: white;
  font-weight: 700;
}

.toggled {
  font-size: 15px;
}